html,
body {
  min-height: 100%; }

body {
  background-color: #000;
  background-image: url("../img/WebsiteShotOfTyson.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease; }

.content-container {
  height: 100vh;
  padding-bottom: 110px;
  padding-top: 30px; }
  .content-container .container {
    height: 100%; }
    .content-container .container .main {
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
      .content-container .container .main img {
        max-width: 100%; }
      .content-container .container .main .content {
        background-color: rgba(174, 158, 136, 0.4); }
    .content-container .container .c-about h1 {
      font-size: 55px; }
    .content-container .container .c-about .fa {
      font-size: 3rem; }
    .content-container .container .c-about .fa-linkedin-square {
      color: #0077B5; }
    .content-container .container .c-about .fa-github-square {
      color: #f5f5f5; }
    .content-container .container .c-about .buttons img {
      max-height: 4rem; }
    .content-container .container .c-about .buttons #linkedin {
      padding: 2px; }
    .content-container .container .c-education .content {
      border-radius: 0 20px 20px 0; }

.footer-container {
  height: 80px;
  background-color: rgba(174, 158, 136, 0.4);
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff; }
  .footer-container .footer-item {
    height: 100%;
    width: 20%;
    text-align: center;
    float: right;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .footer-container .footer-item .item-content {
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
  .footer-container > .container {
    height: 100%; }
  .footer-container .arrow-up {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid rgba(174, 158, 136, 0.4);
    top: -30px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%; }
  .footer-container .dist-0 {
    font-size: 24px; }
  .footer-container .dist-1 {
    font-size: 20px; }
  .footer-container .dist-2 {
    font-size: 16px; }
  .footer-container .dist-3 {
    font-size: 12px; }
  .footer-container .dist-4 {
    font-size: 10px; }

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  /*dim the background*/ }

.overlay-dialog {
  position: absolute;
  top: 50%;
  right: 50%;
  background-color: #fff;
  transform: translateX(50%) translateY(-50%);
  border-radius: 10px;
  height: 53%;
  padding-top: 33px;
  padding-bottom: 13px; }

.overlay-dialog #close-dialog {
  position: absolute;
  right: 0;
  top: 0; }

.overlay-dialog .fa-times {
  padding: 10px; }

.overlay-content-container {
  width: 100%;
  height: 100%;
  overflow: scroll; }

#dialog-image {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 10px;
  padding-top: 35px; }

#dialog-description {
  padding: 20px; }

.header-wrapper {
  height: 100vh;
  position: relative; }

.continue {
  position: absolute;
  bottom: 1%;
  right: 50%;
  transform: translateX(50%);
  border-radius: 100%; }

.homebutton {
  border-radius: 100%; }

.header {
  height: 100%;
  position: relative;
  width: 100%;
  color: #fff;
  background-image: url("../img/WebsiteShotOfTyson.jpg");
  background-position: center;
  background-size: cover;
  min-height: 500px; }

.header .header-content {
  position: relative;
  width: 50%;
  height: 100%; }

.header .header-content .header-content-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%); }

.header .header-content .header-content-inner p {
  text-align: left;
  font-size: 6em;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 1em;
  color: white; }

.header .header-content .header-content-inner span {
  font-family: 'Indie Flower', cursive;
  font-size: 2em;
  text-align: left !important;
  padding-left: 6px; }

.col-centered {
  float: none;
  margin: 0 auto; }

#about {
  display: inline-block;
  width: 100%; }

.bg-primary {
  background-color: #435056;
  height: 13%; }

.bg-secondary {
  background-color: #718B96;
  margin-top: -5px;
  color: #fff; }

.image-sections {
  height: 100%;
  margin: 0 10%; }

.image-sections .row1 {
  height: 66%; }

.image-sections .row2 {
  height: 34%; }

.col-half {
  width: 50%;
  position: relative;
  float: left; }

.col-quarter {
  width: 25%;
  position: relative;
  float: left; }

.image-sections img {
  width: 100%;
  height: 100%; }

.image-sections div .col-lg-6,
.image-sections div .col-lg-3 {
  padding-left: 0px !important;
  padding-right: 0px !important; }

.section-heading span {
  border-bottom: 0 solid #fff; }

.section-heading a {
  color: white; }

.section-heading a:hover {
  text-decoration: none; }

.aboutpanel {
  background-color: #eee;
  position: relative;
  height: 87%;
  display: inline-block;
  width: 100%; }

.panel-tile span {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  top: 61%;
  right: 0%;
  font-size: 2em;
  font-family: 'Indie Flower', cursive; }

#textgame,
#hobbies,
#websites,
#homeserver,
#hackathons,
#education {
  visibility: hidden; }

#homeserver {
  top: 44%; }

#hobbies {
  top: 14%;
  color: black; }

#textgame {
  top: 50%; }

#education {
  top: 80%; }

#hackathons {
  color: black;
  top: 80%; }

a:hover,
.panel-tile:hover {
  cursor: pointer; }

#myCarousel {
  margin-top: 35px; }

#dialog-description {
  font-size: 1.3em; }

#dialog-title {
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 4px; }

.carousel-inner img {
  width: 100%;
  max-height: 600px; }

#playRaftIt {
  position: absolute;
  bottom: 20%;
  right: 50%;
  transform: translateX(50%); }

.returntomain {
  text-align: center;
  padding-bottom: 10px; }

body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url("../img/WebsiteShotOfTyson.jpg") url("../img/new/path.jpg") url("../img/new/learn2hack.png") url("../img/new/work.jpg") url("../img/new/games.jpg"); }

/*# sourceMappingURL=custom.css.map */
