// Colours
$black: #000;
$white: #fff;
$opac-fill: #AE9E88;
// Font sizes
$header: 55px;
$dist-0:24px;
$dist-1:20px;
$dist-2:16px;
$dist-3:12px;
$dist-4:10px;
// Spacing
$footer-height: 80px;
// Triangle
$triangle-height: 30px;